{% extends "TemplateBase.html.twig" %}

{% block title %}{% endblock %}
{% block head %}
{{ parent() }}
<script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
{% endblock %}

{% block content %}
<body style="background: #fff ">
    <div class="container-fluid" style="background:#191970">
        <div class="container">
            <nav class="navbar navbar-default" style="background-color: #191970;border-color:#191970 ">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="background-color: #191970;border-color:#fff;">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar" style="background-color: #fff"></span>
                            <span class="icon-bar" style="background-color: #fff"></span>
                            <span class="icon-bar" style="background-color: #fff"></span>
                        </button>
                        <div id="ti">
                            <a class="navbar-brand" href="/" style="color: #fff;font-family: 'Orbitron', sans-serif;
                               "><b>NEWSPAPER</b></a>
                        </div>
                    </div>
                    <div class="col-md-offset-9">

                         <div id="logar">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="drop" aria-label="Alinhar na esquerda" 
                                            style="background-color: #191970;border-color: #191970;color: #fff;
                                            font-family: 'Patua One', cursive;
                                            ">
                                        {{user.nome | upper}}  <span class="caret" aria-hidden="true" ></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop" >
                                        <li role="presentation"><a role="menu-item" >
                                                <b>CONTROLE DA GALERIA</b></a></li>
                                        <li role="presentation"><a role="menu-item" href="/novaImagem"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar nova</a></li>
                                        <li role="presentation"><a role="menu-item" href="/listarImagens"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Mostrar galeria</a></li>                                        
                                        <li class="divider"></li>
                                        
                                        <li role="presentation"><a role="menu-item">
                                                <b>CONTROLE NOTÍCIAS</b></a></li>
                                        <li role="presentation"><a role="menu-item" href="/novaNoticia"h><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar nova</a></li>
                                        <li role="presentation"><a role="menu-item" href="/listarNoticias"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Listar todas</a></li>
                                        <li class="divider"></li>
                                        <li role="presentation"><a role="menu-item">
                                                <b>PERFIL</b></a></li>
                                        <li role="presentation"><a role="menu-item" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar</a></li>
                                        <li class="divider" style="background: #EF3B3A"></li>
                                        <li role="presentation" ><a role="menu-item" href="/sairUsuario" style="color: #EF3B3A"><center> SAIR</center></a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
            </nav>
        </div>
    </div>
    <div class="container" style="background:#fff">
        <div class="container">
            <nav class="navbar navbar-default" style="background-color: #fff;border-color: #fff">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav center-block" style="font-family: 'Montserrat', sans-serif;font-size: 13px ">
                            <li><a href="/ciencia" style="color: #191970">CIÊNCIA</a></li>
                            <li><a href="/desastresEAcidentes" style="color: #191970">DESASTRES E ACIDENTES</a></li>
                            <li><a href="/economia" style="color: #191970">ECONOMIA</a></li>
                            <li><a href="/educacao" style="color: #191970">EDUCAÇÃO</a></li>
                            <li><a href="/esporte" style="color: #191970">ESPORTE</a></li>
                            <li><a href="/negocio" style="color: #191970">NEGÓCIO</a></li>
                            <li><a href="/politica" style="color: #191970">POLÍTICA</a></li>
                            <li><a href="/saude" style="color: #191970">SAÚDE</a></li>
                            <li><a href="/tecnologia" style="color: #191970">TECNOLOGIA</a></li>
                            <li><a href="/transporte" style="color: #191970">TRANSPORTE</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid" style="background:#191970">
        <div class="col-md-12" style="height: 15px"></div>
    </div>
        
          <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Digite sua senha para poder editar o seu perfil</h4>
                </div>
                <div class="modal-body">
                    <form action="/verificaPerfil" method="POST">
                        <label for="se">Senha:</label>
                        <input type="password" name="senha" id="se"><br><br>


                        <button type="submit" class="btn btn-success" >Editar</button>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                </div>


            </div>

        </div>
    </div> 
</body>
{% endblock %}